
.MozSahyadri{
    margin: 1.5vw 0vw;
    font-weight: 300;
    font-size: calc(0.80em + 5.0vw);
    transition: 2s;
    text-align: left;
}
.MozSahyadri a{
    color: white;
}
.MozSahyadri a:hover:not(.active){
    color:  #44FFB4;
    border-radius: 0px 10px 10px 0px;
}
.Nav{
    overflow: hidden;
    position: fixed;
    background-color: black;
    transition: 2s;
    z-index: 99;
    margin: 0 auto;
    top: 0;
    width: 100%;
    padding: calc(5.0rem + 10.0vw);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.NavList{
    font-size: calc( 0.3em + 1.2vw);
    list-style: none;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin: 7vw 0vw;
    transition: 0.8s;
}
.NavList a{
    padding: 0vw 1.5vw;
    font-weight: lighter; 
    font-size: 1.99em;
    color: white;
}
.NavList a:hover:not(.active){
    color:  #44FFB4;
}

