
.MozSahyadri{
    margin: 5px;
    font-weight: 300;
    font-size: calc(3.00em + 2.0vw);
    transition: 2s;
}
.MozSahyadri a{
    color: white;
}
.MozSahyadri a:hover:not(.active){
    color:  #44FFB4;
    border-radius: 0px 10px 10px 0px;
}
.Nav{
    overflow: hidden;
    position: fixed;
    background-color: black;
    transition: 2s;
    z-index: 99;
    margin: 0 auto;
    top: 0;
    width: 100%;
    padding: 9.0rem 15.1875rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.NavList{
    font-size: calc( 0.5em + 1.0vw);
    list-style: none;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin: 4rem 1.1875rem;
    transition: 0.8s;
}
.NavList a{
    padding: 0px 25px;
    font-weight: lighter; 
    font-size: 1.99em;
    color: white;
}
.NavList a:hover:not(.active){
    color:  #44FFB4;
}

